:root {
  --bright-green: #60D060;
  --dark-green: #30B030;
  --charcoal: #282c34;
  --disabled-grey: #484c54;
}


body {
  background-color: #f4faff;
}

.App {
  text-align: center;
  width: 600px;
  margin: 0px calc(50% - 300px);
  display: flex;
  flex-direction: row;
}

.quiz {
  flex-basis: 200px;
  flex-grow: 1;
}

.history {
  flex-basis: 200px;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  display: block;
  margin: 30px calc(50% - 20vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s cubic-bezier(.5,-0.5,.5,1.5);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  border-radius: 5px;
  margin: 5px;
  font-size: 1.4em;
  font-weight: bold;
  border-style: none;
  background-color: var(--bright-green);
  color: var(--charcoal);
}

button:hover {
  background-color: var(--dark-green);
}

button:active{
  border-color: var(--charcoal);
  border-style: solid;
  border-width: 2px;
  margin: 3px;
}

button[disabled]{
  background-color: lightgray;
  color: var(--disabled-grey);
}

label{
  font-weight: bold;
}

input{
  border-style: solid ;
  border-width: 1px;
  padding: 2px;
  border-color: grey;
  margin: 4px;
  border-radius: 2px;
}

.quiz {
  padding: 5px;
}

.history-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.history-text {
  display: inline;
  flex-grow: 1;
}

h2, h3 {
  margin: 0px;
}

.title {
  flex-grow: 1;
}